
* {
    font-family: cursive;
    box-sizing: border-box;
    width: 100;
}

header {
    background: rgb(150, 51, 128);
    color:azure;
    padding: 0.1rem;
    text-align: center;
    font-size: 25px;
    /* border-radius: 10px; */
}

#event-list {
    list-style-type: none;
    list-style: none;
    -webkit-padding-start: 0px
}

.event-items{
    background: #f4f4f4d2;
    padding: 5px;
    margin: 20px;
    border-radius: 10px;
    display: block;
}

.event-items::before {
    content: url("/photos/event-icon-colored.svg");
    display: inline-block;
    height: 40px;
    width: 40px;
    background-size: 40px;
    /* background-image: url("/photos/event-icon-colored.svg"); */
    background-repeat: no-repeat;
    font-size: 1.0em;
    vertical-align: middle;
    margin-right: 5px;
    padding-top: 0px;
}

.control{
    font-size: 20px;
    display: table;
    margin-left: auto;
    margin-right: 0em;
}

.nav{
    display: inline-block;
    border: 3px solid #FFFFFF;
    border-radius: 10px;
    margin-right:30px;
    padding: 0.2rem;
    background-color: rgb(201, 149, 189);;
}
.sub-title{
   float: left;
   font-size: 30px;
   padding: 1rem;
}

a {
    text-decoration:none
}
.container {

    padding: 4rem 3rem;
    display: flex;
}
.container > * {
    margin: 10px;
}
/* link style on-mouse-over */
.nav a:hover{
    color:#FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
}

/* button style on-mouse-over */
.nav:hover{
    border: 3px solid #FFFFFF;
    border-radius: 10px;
    background-color: #dd417f;
}

body {
    line-height: 2;
}

hr {
    position: relative;
    top: 1px;
    border: none;
    height: 5px;
    background: black;
    margin-bottom: 40px;
}

#event-div{
    border-radius: 10px;
    color: rgb(53, 3, 32);
    padding: 4rem;
    font-size: 20px;
    background: #fcdffa;
    /* display: inline-block; */
    width: 100%;
    height: auto;
}

#myform {
    padding: 5rem;
    background: rgb(248, 227, 237);
    border-radius: 10px;
    /* display: inline-block; */
    width: 100%;
    height: auto;
}


#myform label {
    display: block;
    font-size: 20px;
}

#myform input[type='text'] , input[type='date']{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 18px;
}

#date {
    color: #7e7d7d;;
}

.button {
    display: block;
    width: 100%;
    padding: 10px 15px;
    border: 0;
    background: rgb(175, 94, 135);
    color: #fff;
    border-radius: 5px;
    margin: 5px 0;
    font-size: 18px;
}
.button:hover {
    background: rgb(156, 156, 156);
}

.remove-button{
    float: right;
    background: rgb(226, 115, 115);
    font-size:inherit;
    padding:inherit;
}
.edit-button{
    float: right;
    margin-right: 10px;
    background: rgb(96, 192, 112);
    font-size:inherit;
    padding:inherit;
}
.error {
    color: rgb(245, 12, 12);
}